
pyApp/.idea/workspace.xml
pyApp/__pycache__/design.cpython-36.pyc
.vs/DataAccessMethodsCursovaya/v15/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.Rhistory
pyApp/.vs/VSWorkspaceState.json
pyApp/.vs/ProjectSettings.json
pyApp/.vs/pyApp/v15/.suo
pyApp/.vs/slnx.sqlite
